.gamePage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .title{
        margin-top: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @import "./grid";
    @import "./inputs";
}