.gamePage{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .title{
        margin-top: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @import "./grid";
    .controlsAndWheel{
        display: flex;
        align-items: center;
        justify-content: center;
        .holder{
            margin-top:2.5vh;
            display: flex;
            flex-direction: row;
            width: 70%;
            height: 52vh;
            border-radius: 10px;
            box-shadow: 10px 10px 10px 0 rgba(36, 36, 36, 0.205);
            @import "./inputs"; 
            @import "./wheel";
        }
    }
    #prizeMsg{
        position: absolute;
        top: 0;
        left: 0;
    }
}