@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 
@import "./game";
$font: 'Lato', sans-serif;
$bgColor: rgb(0, 0, 0);
$textColor: rgb(255, 255, 255);
.app{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    font-family: $font;
    display: flex;
    flex-direction: column;
    color:$textColor;
}
.center{    
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.res{
    position: fixed;
    width: 20%;
    height: 21%;
    top: 0;
    left: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:17vh;
    background-color: rgb(5, 56, 133);
    border-radius: 20px;
    color:white;
    button{
        margin-top: 1.3vh;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        border: 0px;
        color:black;
        padding: 1.3vh;
        transition: all 200ms ease-in-out;
        &:hover{
            background-color: rgb(197, 197, 197); 
        }
    }
    border: 3px solid;
    transition: opacity 400ms ease;
}


.show {
    opacity: 1;
}
.hide {
    opacity: 0;
}