.rangliste{
    position: fixed;
    width: 60%;
    height: 40%;
    top: 0;
    left: 50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:17vh;
    background-color: rgb(5, 56, 133);
    border-radius: 20px;
    .liste{
        border-radius: 10px;
        background-color: #F2F5FA;
        width: 70%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .2);
        color:black;
        .tableHold {
            width: 100%;
            h2{
                margin: 2vh;
            }
            .testErg {
                width: 90%;
                thead,
                tbody {
                    display: block;
                    th {
                        padding-left: 2em;
                    }
                }
                tbody {
                    height: 30vh;
                    overflow-y: auto;
                    /* Trigger vertical scroll    */
                    overflow-x: hidden;
                    /* Hide the horizontal scroll */
                    td {
                        padding-left: 3em;
                    }
                }
            }
        }
    }
    border: 3px solid;
}